<div class="row">
    <div class="col" style="text-align: center;">

        <div class="row">
            <div class="col">
                <h3>Total de las shit </h3>
            </div>           
        </div>

        <mat-divider></mat-divider>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                Cuotas
            </div>
            <div class="col-3">
                Interes
            </div>
            <div class="col-3">
                Valor por cuota
            </div>
            <div class="col-3">
                Total a pagar
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="row">
            <div class="col-1"> 
                <div class="row; m-t10">
                    <div class="col">
                        <mat-radio-button>                   
                        </mat-radio-button>
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        <mat-radio-button>                   
                        </mat-radio-button>
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        <mat-radio-button>                   
                        </mat-radio-button>
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        <mat-radio-button>                   
                        </mat-radio-button>
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        <mat-radio-button>                   
                        </mat-radio-button>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="row; m-t10">
                    <div class="col">
                        3
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        6
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        9
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        12
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        18
                    </div>
                </div>
            </div>
            
            <div class="col-3">
                <div class="row; m-t10">
                    <div class="col">
                        Sin Interes
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                       9%
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        30%
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        Sin Interes
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        10%
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="row; m-t10">
                    <div class="col">
                        {{fee3}}
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        {{fee6}}
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        {{fee9}}
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        {{fee12}}
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        {{fee18}}
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="row; m-t10">
                    <div class="col">
                        {{total3}}
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        {{total6}}
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        {{total9}}
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        {{total12}}
                    </div>
                </div>
                <div class="row; m-t10">
                    <div class="col">
                        {{total18}}
                    </div>
                </div>
            </div>

            <mat-divider class="m-t10"></mat-divider>

        </div>
        <div class="row ; m-t10">
            <div class="col">
                Tu total a pagar por cuota es: 
            </div>
        </div>
    </div>
</div>