<div fxLayout="column" fxLayoutAlign="space-around center" >
    <mat-card fxLayout="column" fxLayoutAlign="space-around center" style="width: 60%; margin-top: 5rem; background-color: aliceblue;" *ngIf="!modifyProduct">

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;">

            <h3>Lista de Productos</h3>

        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;" style="width: 100%;">
            
            <mat-divider></mat-divider>

        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;" style="width: 100%; margin-top: 40px;">

            <mat-spinner *ngIf="loading" diameter="60" style="margin-bottom: 20px;" color="accent"></mat-spinner>

            <table mat-table [dataSource]="productDataSource" class="mat-elevation-z8" *ngIf="areThereItemsInTheList()" style="width: 100%; margin-bottom: 20px;">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                </ng-container>
              
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Precio </th>
                  <td mat-cell *matCellDef="let product"> $ {{product.price}} </td>
                </ng-container>
              
                <ng-container matColumnDef="priceList">
                  <th mat-header-cell *matHeaderCellDef> Precio de lista </th>
                  <td mat-cell *matCellDef="let product"> $ {{product.priceList}} </td>
                </ng-container>
              
                <ng-container matColumnDef="gender">
                  <th mat-header-cell *matHeaderCellDef> Genero </th>
                  <td mat-cell *matCellDef="let product"> {{product.gender}} </td>
                </ng-container>
              
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let product">

                        <button mat-icon-button color="accent" style="margin-left: -10px;" (click)="modify(product)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button color="warn" (click)="delete(product)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>

            <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%; margin-bottom: 40px;" *ngIf="emptyList && !loading">

                <button mat-icon-button color="accent" matTooltip="La lista esta vacia">
                    <mat-icon>sentiment_dissatisfied</mat-icon>
                </button>
                
            </div>
        </div>

        <button mat-icon-button color="warn" (click)="home()">
            <mat-icon>keyboard_return</mat-icon>
        </button>

    </mat-card>

    <app-product-modify style="width: 100%;" *ngIf="modifyProduct" [productForModify]="productForModify" (modifiedProduct)="modifiedProduct($event)"></app-product-modify>

</div>

