table {
	width: 100%;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}

.imgRedonda {
	width: 100px;
	height: 100px;
	border-radius: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
}

.greenButton{
	color:#0d9919;
}