<div class="row">
    <div class="col">
        <mat-card [formGroup]="productForm">
            <mat-card-header>
                <mat-card-title>Baja de Producto</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Precio</mat-label>
                            <input matInput type="number" placeholder="Precio" formControlName="cost">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Precio de Lista</mat-label>
                            <input matInput type="number" placeholder="Precio de Lista" formControlName="listPrice">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Precio de venta</mat-label>
                            <input matInput type="number" placeholder="Precio de venta" formControlName="salePrice">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button color="warn" (click)="delete()">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!--  <div fxLayout="column" fxLayoutAlign="space-around center" >
    <mat-card fxLayout="column" fxLayoutAlign="space-around center" style="width: 100%; background-color: aliceblue;" [formGroup]="productForm">

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;">

            <h3>Baja de Producto</h3>

        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;">
            
            <mat-divider></mat-divider>

        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100 m-top-40">
            
            <mat-form-field fxFlex="80">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name">
            </mat-form-field>

            <mat-form-field fxFlex="13">
                <mat-label>Talle</mat-label>
                <input matInput placeholder="Talle" formControlName="stockSize">
            </mat-form-field>

        </div>
       
        <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100">
           
            <mat-form-field fxFlex="30">
                <mat-label>Precio</mat-label>
                <input matInput type="number" placeholder="Precio" formControlName="cost">
            </mat-form-field>

            <mat-form-field fxFlex="30">
                <mat-label>Precio de Lista</mat-label>
                <input matInput type="number" placeholder="Precio de Lista" formControlName="listPrice">
            </mat-form-field>

            <mat-form-field fxFlex="30">
                <mat-label>Precio de venta</mat-label>
                <input matInput type="number" placeholder="Precio de venta" formControlName="salePrice">
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%; margin-top: 20px;">

            <button mat-button color="warn" (click)="delete()">
                <mat-icon>delete_forever</mat-icon>
                <span>Eliminar</span>
            </button>
            
        </div>
        
    </mat-card>
        
</div>  -->