<div fxLayout="column" fxLayoutAlign="space-around center" >
    <mat-card fxLayout="column" fxLayoutAlign="space-around center" style="width: 60%; margin-top: 5rem; background-color: aliceblue;" [formGroup]="productForm">

        <h3>Alta de Productos</h3>

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;">
            
            <mat-divider></mat-divider>

        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%; margin-top: 40px;">
            
            <mat-form-field fxFlex="90">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name">
            </mat-form-field>
        </div>    

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%; margin-top: 40px;">
            <mat-form-field fxFlex="20">
                <mat-label>Precio</mat-label>
                <input matInput type="number" placeholder="Precio" formControlName="cost">
            </mat-form-field>

            <mat-form-field fxFlex="20">
                <mat-label>Precio de Lista</mat-label>
                <input matInput type="number" placeholder="Precio de Lista" formControlName="listPrice">
            </mat-form-field>

            <mat-form-field fxFlex="20">
                <mat-label>Precio de venta</mat-label>
                <input matInput type="number" placeholder="Precio de venta" formControlName="salePrice">
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%; margin-top: 40px;">

            <mat-form-field fxFlex="40">
                <mat-label>Talle</mat-label>
                <input matInput placeholder="Talle" formControlName="stockSize">
            </mat-form-field>
            
        </div>
            
        <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%; margin-top: 60px;">

            <button mat-button color="accent" (click)="addProduct()" [disabled]="!productForm.valid">
                <mat-icon>add</mat-icon>
                <span>Agregar</span>
            </button>
            
        </div>
          
        <button mat-icon-button color="warn" (click)="home()" style="margin-top: 30px;">
            <mat-icon>keyboard_return</mat-icon>
        </button>

    </mat-card>

</div>