.outline {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
}

.max-size-image-col {
    max-width: 17rem;
    max-height: 30rem;
}


.max-size-image-col-mobile {
    max-width: 100%;
    max-height: 30rem;
}

mat-form-field {
    width: 50%;
}