<div class="row">
    <div class="col">
        <mat-card [formGroup]="productForm"> <!-- REMOVE THIS STYLE -->
            <mat-card-header>
                <mat-card-title>Alta de Productos</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" formControlName="name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Precio</mat-label>
                            <input matInput type="number" placeholder="Precio" formControlName="cost">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Precio de Lista</mat-label>
                            <input matInput type="number" placeholder="Precio de Lista" formControlName="listPrice">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Precio de venta</mat-label>
                            <input matInput type="number" placeholder="Precio de venta" formControlName="salePrice">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-card class="mat-elevation-z0 outline">
                            <div class="row">
                                <div class="col">
                                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        alt="Photo of a Shiba Inu">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button mat-button color="accent" class="w-100">
                                        <mat-icon>file_upload</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src='assets/size-xs.png' class="mx-auto d-block" width="114" height="114" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stock</mat-label>
                                    <input matInput type="number" placeholder="Stock" formControlName="stockXS">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src='assets/size-s.png' class="mx-auto d-block" width="114" height="114" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stock</mat-label>
                                    <input matInput type="number" placeholder="Stock" formControlName="stockS">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src='assets/size-m.png' class="mx-auto d-block" width="114" height="114" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stock</mat-label>
                                    <input matInput type="number" placeholder="Stock" formControlName="stockM">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src='assets/size-l.png' class="mx-auto d-block" width="114" height="114" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stock</mat-label>
                                    <input matInput type="number" placeholder="Stock" formControlName="stockL">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src='assets/size-xl.png' class="mx-auto d-block" width="114" height="114" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stock</mat-label>
                                    <input matInput type="number" placeholder="Stock" formControlName="stockXL">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src='assets/size-xxl.png' class="mx-auto d-block" width="114" height="114" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stock</mat-label>
                                    <input matInput type="number" placeholder="Stock" formControlName="stockXXL">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button color="accent" (click)="addProduct()" [disabled]="!productForm.valid">
                    <mat-icon>add</mat-icon>
                    <span>Agregar</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>