<div class="d-none d-sm-block">
    <div class="container" >
        <div class="row">
            <div class="col">
                <mat-card>
                    <mat-card-header>
                        <h3>Historial de ventas</h3>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div class="row mt-4">
                            <div class="col">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Filtro</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Filtración" #input>
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table mat-table [dataSource]="saleDataSource" class="w-100" matSort multiTemplateDataRows>

                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                        <td mat-cell *matCellDef="let sale"> {{sale.date | dateFormatWithoutHour}}  </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nameOfProfuct">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                        <td mat-cell *matCellDef="let sale"> {{sale.nameOfProfuct}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="size">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Talle </th>
                                        <td mat-cell *matCellDef="let sale"> {{sale.size}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="payment">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma de Pago </th>
                                        <td mat-cell *matCellDef="let sale"> {{sale.payment}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalPriceSale">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio de venta </th>
                                        <td mat-cell *matCellDef="let sale"> $ {{sale.totalPriceSale}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let sale">

                                            <button mat-icon-button color="warn" (click)="deleteHistory(sale)">
                                                <mat-icon>delete_forever</mat-icon>
                                            </button>

                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="expandedDetail">
                                        <td mat-cell *matCellDef="let sale" [attr.colspan]="displayedColumns.length" class="p0">
                                            <div class="example-element-detail" 
                                                [@detailExpand]="sale == expandedElement ? 'expanded' : 'collapsed'">
                                                <!--<div class="row mt-4 mb-4">
                                                    <div class="col">
                                                        <img src='{{sale.product.img}}' class='imgRedonda' />
                                                    </div>
                                                    <div class="col">
                                                        <mat-list>
                                                            <mat-list-item *ngFor="let dis of sale.discount"> Descuento del {{dis.rate}}% </mat-list-item>
                                                            <mat-list-item> Interes del {{sale.rate}}% </mat-list-item>
                                                        </mat-list>
                                                    </div>
                                                    <div class="col" *ngIf="sale.dataFee">
                                                        <mat-list>
                                                            <mat-list-item> Cantidad de cuotas {{sale.dataFee.feeNumber}}</mat-list-item>
                                                            <mat-list-item> Precio por cuota ${{sale.dataFee.feeValue}}</mat-list-item>
                                                        </mat-list>
                                                    </div>
                                                    <div class="col">
                                                        <mat-list>
                                                            <mat-list-item> Costo ${{sale.product.cost}} </mat-list-item>
                                                            <mat-list-item> Precio de venta ${{sale.totalPriceSale}} </mat-list-item>
                                                            <mat-list-item> Ganancia ${{sale.totalPriceSale - sale.product.cost}} </mat-list-item>
                                                        </mat-list>
                                                    </div>
                                                </div> -->
                                                <table mat-table [dataSource]="expandedDataSource" class="mat-elevation-z8">
                                                    <ng-container matColumnDef="discount">
                                                        <th mat-header-cell *matHeaderCellDef> Descuento </th>
                                                        <td mat-cell *matCellDef="let element">%</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="rate">
                                                        <th mat-header-cell *matHeaderCellDef> Descuento </th>
                                                        <td mat-cell *matCellDef="let element">{{element.rate}}</td>
                                                    </ng-container>
                                                     <tr mat-header-row *matHeaderRowDef="expandedColumns"></tr>
                                                     <tr mat-row *matRowDef="let element; columns: expandedColumns;"
                                                     [class.example-expanded-row]="expandedElement === element"
                                                     (click)="test2(element)"
                                                     class="example-element-row"></tr>
                                                </table>
                                                    
                                              <!-- <table class="table p0" style="background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255);">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Descuento</th>
                                                        <th scope="col" [ngClass]="sale.dataFee? '' : 'test'">Interes</th>
                                                        <th scope="col" [ngClass]="sale.dataFee? '' : 'test'" >Cuotas</th>
                                                        <th scope="col" [ngClass]="sale.dataFee? '' : 'test'">Precio por cuota</th>
                                                        <th scope="col">Costo</th>
                                                        <th scope="col">Precio de venta</th>
                                                        <th scope="col">Ganancia</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="p0">
                                                                <p *ngFor="let dis of sale.discount">{{dis.rate}}%</p>
                                                                </td>
                                                            <td *ngIf="sale.dataFee">{{sale.rate}}%</td>
                                                            <td *ngIf="sale.dataFee">{{sale.dataFee.feeNumber}}</td>
                                                            <td *ngIf="sale.dataFee">${{sale.dataFee.feeValue}}</td>
                                                            <td>${{sale.product.cost}}</td>
                                                            <td>${{sale.totalPriceSale}}</td>
                                                            <td>${{sale.totalPriceSale - sale.product.cost}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table> -->
                                                        
                                            </div>
                                        </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                                        [class.example-expanded-row]="expandedElement === element"
                                        (click)="test(element)"
                                        class="example-element-row"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                                    </tr>

                                </table>
                                <mat-paginator class="w-100" [length]="100" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                LA TABLA

                <table mat-table [dataSource]="expandedDataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="discount">
                        <th mat-header-cell *matHeaderCellDef> Descuento </th>
                        <td mat-cell *matCellDef="let element">% </td>
                    </ng-container>
                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef> Descuento </th>
                        <td mat-cell *matCellDef="let element">% </td>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</div>