<mat-grid-list cols="1" rowHeight="3:1" style="margin-top: 6%">
    <mat-grid-tile>
        <mat-card style="width: 60%;">
            
            <mat-grid-list cols="3" rowHeight="7:1">
                <mat-grid-tile >
                    <button mat-icon-button color="accent" (click)="home()" >
                        <mat-icon>home</mat-icon>
                    </button>
                </mat-grid-tile>

                <mat-grid-tile>
                    <h3>Historial de ventas</h3>
                </mat-grid-tile>

                <mat-grid-tile >
                    <button mat-icon-button color="accent" (click)="home()">
                        <mat-icon>home</mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list >
                <mat-divider></mat-divider>
            </mat-grid-list>

            <mat-grid-list class="ta-c">
                <mat-form-field style="width: 100%;">
                    <mat-label>Filtro</mat-label> 
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filtración" #input> 
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </mat-grid-list>

            <mat-grid-list>
                <table mat-table [dataSource]="saleDataSource.data" class="w-100" matSort>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let sale"> {{sale.product.name}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
                        <td mat-cell *matCellDef="let sale"> $ {{sale.product.cost}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="listPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio de lista </th>
                        <td mat-cell *matCellDef="let sale"> $ {{sale.product.listPrice}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="salePrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio de venta </th>
                        <td mat-cell *matCellDef="let sale"> $ {{sale.product.salePrice}} </td>
                    </ng-container>

                    <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Talle </th>
                        <td mat-cell *matCellDef="let sale">  {{sale.product.stockSize.size}} </td>
                    </ng-container>

                    <ng-container matColumnDef="local">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
                        <td mat-cell *matCellDef="let sale">  {{sale.local}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                </table>
                <mat-paginator class="w-100" [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


