table {
	width: 100%;
}

tr.example-detail-row {
	height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
	background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
}

.example-element-row td {
	border-bottom-width: 0;
}

.example-element-detail {
	overflow: hidden;
}

.imgRedonda {
	width: 100px;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}

table {
	.example-element-row:hover {
		background-color: rgba(43, 43, 43, 0.685);
	}
}

.test {
	display: none;
}

.p0 {
	padding: 0px !important;
}

