<div class="row">
    <div class="col">
        Agregar
    </div>
</div>
<div class="row" [formGroup]="discountForm">
    <div class="col">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="name">
            <mat-error *ngIf="nameControl.hasError('required')">
                Este campo es <strong>obligatorio.</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tasa de descuento</mat-label>
            <input matInput placeholder="Tasa de descuento" formControlName="rate">
        </mat-form-field>
    </div>
    <div class="col">
        <button mat-button color="danger" class="w-100" (click)="addDiscount()" [disabled]="!discountForm.valid">
            <mat-icon>file_upload</mat-icon>
        </button>
    </div>
    <div class="col">
        <button mat-button color="warn" class="w-100" (click)="cancelDiscount()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>