.imgRedonda {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.img-sizes {
	width: 100px;
	height: 100px;
	cursor: pointer;
}
::ng-deep {
	.mat-form-field-appearance-outline .mat-form-field-outline {
		color: black;
	}
	mat-form-field {
		.mat-hint,
		input,
		::placeholder,
		.mat-form-field-label {
			color: black;
		}
	}
}