.imgRedonda {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.outline {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
}

.max-size-image-col {
    max-width: 17rem;
    max-height: 30rem;
}