<div class="row">
    <div class="col">
        <mat-card [formGroup]="saleForm">
            <mat-card-header>
                <mat-card-title>Venta de Producto</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre" readonly formControlName="name">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Seleccionar un talle</mat-label>
                                    <mat-select [formControl]="sizeControl" (selectionChange)="handleSizeChange($event.value)">
                                        <mat-option value="XS">
                                            XS
                                        </mat-option>
                                        <mat-option value="S">
                                            S
                                        </mat-option>
                                        <mat-option value="M">
                                            M
                                        </mat-option>
                                        <mat-option value="L">
                                            L
                                        </mat-option>
                                        <mat-option value="XL">
                                            XL
                                        </mat-option>
                                        <mat-option value="XXL">
                                            XXL
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="outline">
                                    <mat-label>Stock</mat-label>
                                    <input matInput placeholder="Stock" readonly formControlName="stock">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-discount-selector (newItemEvent)="handleSelected($event)"></app-discount-selector>
                            </div>
                        </div> 
                    </div>
                    <div class="col max-size-image-col">
                        <mat-card class="mat-elevation-z0 outline p-0">
                            <img class="img-fluid mx-auto d-block" [src]="data.img">
                        </mat-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-card *ngIf="!saleProductValid()">
                            <mat-card-header>
                                <mat-card-title>Medio de Pago</mat-card-title>
                            </mat-card-header>
                            <div class="row mt-4">
                                <div class="col">   
                                    <button mat-flat-button color="accent" (click)="cashPayment()" class="w-100">Efectivo</button>
                                </div>
                                <div class="col">
                                    <button mat-flat-button color="accent" (click)="creditCard()" class="w-100">
                                        <mat-icon>credit_card</mat-icon>
                                        <span>Tarjeta de Credito</span>
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                        <div class="row mt-4"  *ngIf="this.isCredit">
                            <div class="col">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Cuotas</mat-label>
                                    <input matInput placeholder="Cuotas" readonly formControlName="feeNumber">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Valor de la cuota</mat-label>
                                    <input matInput placeholder="Valor" readonly formControlName="feeValue">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="outline"class="w-100">
                                    <mat-label>Total</mat-label>
                                    <input matInput placeholder="Total" readonly formControlName="total">
                                </mat-form-field>
                            </div>
                        </div> 
                        <div class="row mt-4"  *ngIf="this.isCash">
                            <div class="col">
                                <mat-form-field appearance="outline"class="w-100">
                                    <mat-label>Precio de Venta</mat-label>
                                    <input matInput readonly formControlName="total">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="outline"class="w-100">
                                    <mat-label>Total con descuento</mat-label>
                                    <input matInput readonly formControlName="discountTotal">
                                </mat-form-field>
                            </div>
                        </div> 
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <div class="col" aling="end">
                        <button mat-button>
                            <mat-icon>clear</mat-icon>
                            <span>Cancelar</span>
                        </button>
                    </div>
                    <div class="col" align="end">
                        <button mat-button (click)="sale()" [disabled]="validateSaleButton()">
                            <mat-icon>monetization_on</mat-icon>
                            <span>Vender</span>
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>