/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
background-color: rgb(43, 43, 43);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.green-snackbar {
    background: rgb(38, 128, 29);
    color: white;
}
.green-snackbar button {
    background-color: rgb(38, 128, 29);
    color: white;
    border: none;
}

.blue-snackbar {
    background: rgb(29, 116, 128);
    color: white;
}
.blue-snackbar button {
    background-color: rgb(29, 116, 128);
    color: white;
    border: none;
}

.orange-snackbar {
    background: rgb(128, 85, 29);
    color: white;
}
.orange-snackbar button {
    background-color: rgb(128, 85, 29);
    color: white;
    border: none;
}

.red-snackbar {
    background: #F44336;
    color: white;
}
.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}

.w-100 {
    width: 100%;
}

.m-top-40{
    margin-top: 40px;
}

.img-sizes {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

::ng-deep {
	.mat-form-field-appearance-outline .mat-form-field-outline {
		color: black;
	}
	mat-form-field {
		.mat-hint,
		input,
		::placeholder,
		.mat-form-field-label {
			color: black;
		}
	}
}

.img-sizes:hover {
    border-radius: 10rem;
    transform: scale(1.1);
}

.ta-c {
    text-align: center;
}

.mt-5 {
    margin-top: 5%;
}

.mt-2 {
    margin-top: 2%;
}

mat-card-header {
    justify-content: center;
}

.greenButton{
	color:#0d9919;
}

.pointer{
    cursor: pointer;
}